@charset "utf-8";
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{
    padding: 0;
    margin: 0;
    font-family: fontawesome;
    font-family: 'Pretendard'
}

a{
    text-decoration: none;
}

ol,ul,li{
    list-style: none; 
}

img,svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}