@charset "utf-8";
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* (200/1920) * 100 */

/* header영역 */
#wrap{
    overflow: hidden;
}
.m-banner-txt{
    display: none;
}
.m-footer-wrap{
    display: none;
}
header{
    width: 100%;
    height: 80px;
    background-color: #171212;
    position: fixed;
    z-index: 9999;
}
.btn{
    display: none;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 99999;
        top: 50%;
}
.btn span{
    position: absolute;
        width: 30px;
        height: 2px;
        background-color: #fff;
}

.btn span:nth-child(1){
    top: 0;
    left: 0;
}
.btn span:nth-child(2){
    top: 10px;
    left: 0;
}
.btn span:nth-child(3){
    top: 20px;
    left: 0;
}
.m-submenu{
    display: none;
}
.header-wrap{
    width: 1600px;
    height: 100%;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 80px;
}

.menu-wrap{
    display: flex;
}
.menu-wrap li a{
    font-size: 20px;
    color: #fff;
    margin-right: 50px;
}

.icon-wrap{
    display: flex;
}

.icon-wrap li{
    margin-right: 30px;
}

/* banner 영역 */
#banner{
    width: 100%;
    height: 100vh;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-button-prev,.swiper-button-next{
    color: #171212;
}

.slide1{
    background: url(../img/banner-1.jpg) no-repeat center;
    background-size: cover;
}
.slide2{
    background: url(../img/banner-2.jpg) no-repeat center;
    background-size: cover;
}
.slide3{
    background: url(../img/banner-3.jpg) no-repeat center;
    background-size: cover;
}
.slide4{
    background: url(../img/banner-4.jpg) no-repeat center;
    background-size: cover;
}

/* banner 텍스트영역 */
.slide-txt1{
    margin-top: 15.4vw;
    margin-left: 6.25vw;
}
.slide-txt1 h1{
    font-size: 64px;
}
.slide-txt1 p{
    font-size: 28px;
    margin-top: 8px;
}
.slide-txt1 span{
    width: 180px;
    height: 60px;
    display: block;
    background-color: #E16C00;
    border-radius: 20px;
    margin-top: 8px;
}
.slide-txt1 span p{
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

.slide-txt2{
    margin-top: 10.4vw;
    margin-left: 8.8vw;
}
.slide-txt2 h1{
    font-size: 90px;
    color: #fff;
}
.slide-txt2 p{
    font-size: 48px;
    margin-top: 8px;
    color: #fff;
}
.slide-txt2 span{
    width: 180px;
    height: 60px;
    display: block;
    background-color: #E5C152;
    margin-top: 8px;
    border-radius: 20px;
}
.slide-txt2 span p{
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

.slide-txt4{
    margin-top: 20.8vw;
    margin-left: 61.7vw;
    width: 675px;
}
.slide-txt4 h1{
    font-size: 75px;
    color: #171212;
}
.slide-txt4 span{
    width: 180px;
    height: 60px;
    display: block;
    background-color: #171212;
    margin-top: 8px;
    opacity: 0.8;
    float: right;
    border-radius: 20px;
}
.slide-txt4 span p{
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

/* sec-1 영역 */
.sec-1{
    width: 100%;
    height: 860px;
}

.sec-1_wrap{
    width: 1680px;
    height: 800px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.txt-box{
    width: 100%;
    height: 80px;
    background-color: #595151;
    opacity: 0.7;
    text-align: center;
    line-height: 80px;
}
.txt-box p{
    color: #fff;
    font-size: 32px;
    opacity: 1;
}
.con1{
    width: 688px;
    height: 100%;
}
.con-img1{
    background: url(../img/sec-1-1\ 수정.jpg) no-repeat center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-position: top;
}

.txt-box1{
    width: 100%;
    height: 80px;
    background-color: #595151;
    opacity: 0.7;
    text-align: center;
    line-height: 80px;
}

.txt-box1 p{
    color: #fff;
    font-size: 24px;
}

.con2{
    width: 476px;
    height: 100%;
}
.con-img2{
    background: url(../img/sec-1-2.jpg) no-repeat center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-position: top;
}

.con3{
    width: 476px;
    height: 100%;
}
.con-img3{
    background: url(../img/sec-1-3.jpg) no-repeat center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-position: top;
}


/* sec-2영역 */
.sec-2_m{
    display: none;
}
.sec-2{
    width: 100%;
    height: 400px;
    margin-bottom: 150px;
}
.slide-wrap{
    width: 1680px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
}
.slide-box{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* position: relative; */
}
.content{
    display: flex;
    justify-content: space-between;
}
.slide-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto; 
}



.sec-2_slide{
    text-align: center;
}
.sec-2_slide p{
    color: #171212;
    font-size: 32px;
    font-weight: 600;
    margin-top: 24px;
}
.con2-1{
    background: url(../img/sec-2-1러닝.jpg) no-repeat center;
    object-fit: contain;
}
.con2-2{
    background: url(../img/sec-2-2농구.jpg) no-repeat center;
    object-fit: contain;
}
.con2-3{
    background: url(../img/sec-2-3축구.jpg) no-repeat center;
    object-fit: contain;
}
.con2-4{
    background: url(../img/sec-2-4골프.jpg) no-repeat center;
    object-fit: contain;
}
.con2-5{
    background: url(../img/sec-2-5야구.jpg) no-repeat center;
    object-fit: contain;
}
.con2-6{
    background: url(../img/sec-2-6아웃도어.jpg) no-repeat center;
    object-fit: contain;
}
.swiper-button-next, .swiper-button-prev{
    color: #171212 !important;
}
/* sec-3 영역 */
.m_sec-3_btn{
    display: none;
}
.m_sec-3-txt{
    display: none;
}
.sec-3_wrap{
    width: 100%;
    height: 400px;
    margin-bottom: 150px;
}
.sec-3_img{
    background: url(../img/sec-3.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec-3_txt{
    margin-right: 6.25vw;
    margin-top: 10.4vh;
}

.sec-3_txt h1{
    font-size: 48px;
    color: #fff;
    text-align: right;
    letter-spacing: 4px;
}

.sec-3_txt span{
    width: 180px;
    height: 60px;
    background-color: #fff;
    display: block;
    float: right;
    margin-top: 28px;
    border-radius: 20px;
}
.sec-3_txt span p{
    font-size: 20px;
    color: #171212;
    line-height: 60px;
    text-align: center;
}

/* sec-4 영역 */
.sec-4{
    width: 1680px;
    /* height: 1620px; */
    margin: 0 auto;
    margin-bottom: 60px;
}
.sec-4_head h1{
    font-size: 52px;
    margin-bottom: 60px;
    font-family: 'Poppins';
}

.sec-4-contents1{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
}
.sec-4-constens2{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.plus{
    width: 250px;
    height: 500px;
    background-color: #e8e8e8;
}
.plus p{
    font-size: 28px;
    line-height: 500px;
    text-align: center;
    cursor: pointer;
}

.sub-txt{
    margin-top: 18px;
}

.name{
    font-size: 20px;
}
.price{
    display: flex;
    margin-top: 4px;
}
.price p{
    font-size: 24px;
}
.sale{
    color: #ff3131;
    margin-left: 12px;
}
.con1-main-img{
    background: url(../img/sec-4-main.jpg) no-repeat center;
    object-fit: cover;
    width: 500px;
    height: 100%;
}
.con2-main-img{
    background: url(../img/sec-4-main2.jpg) no-repeat center;
    object-fit: cover;
    width: 500px;
    height: 100%;
}

.con1-sub-img{
    width: 400px;
    height: 600px;
}

.con2-sub-img{
    width: 400px;
    height: 600px;
}
.sub-img1{
    background: url(../img/sec-4-1.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.hover_img1{
    background: url(../img/sec-4-1hover.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}
.hover_img1:hover{
    opacity: 1;
}


.sub-img2{
    background: url(../img/sec-4-2.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.hover_img2{
    background: url(../img/sec-4-2hover.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}
.hover_img2:hover{
    opacity: 1;
}

.sub-img3{
    background: url(../img/sec-4-4.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.hover_img3{
    background: url(../img/sec-4-4hover.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}
.hover_img3:hover{
    opacity: 1;
}

.sub-img4{
    background: url(../img/sec-4-3.png) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.hover_img4{
    background: url(../img/sec-4-3hover.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}
.hover_img4:hover{
    opacity: 1;
}

/* sec-5영역 */
.sec-5{
    width: 100%;
}
.sec-5-wrap{
    margin: 0 auto;
    width: 1680px;
    height: 1400px;
}
.sec-5-t,.sec-5-b{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.hover-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(89, 81, 81, 0.5);
    transition: 0.3s;
}
.sec-5_img1{
    background: url(../img/sec-5-1.jpg) no-repeat center;
    background-size: cover;
    width: 58%;
}
.sec-5_img2{
    background: url(../img/sec-5-2.jpg) no-repeat center;
    background-size: cover;
    width: 42%;
}
.sec-5_img3{
    background: url(../img/sec-5-3.jpg) no-repeat center;
    background-size: cover;
    width: 30%;
}
.sec-5_img4{
    background: url(../img/sec-5-4.jpg) no-repeat center;
    background-size: cover;
    width: 40%;
}
.sec-5_img5{
    background: url(../img/sec-5-5.jpg) no-repeat center;
    background-size: cover;
    width: 30%;
}

/* sec-5 txt영역 */
.sec-5-btn{
    display: block;
    width: 150px;
    height: 50px;
    background-color: #d9d9d9;
    font-size: 16px;
    color: #171212;
    line-height: 50px;
    text-align: center;
}
.img1_txt h1{
    font-size: 64px;
    color: #fff;
}
.img1_txt h2{
    font-size: 24px;
    color: #fff;
    margin:24px 0;
}

.img2_txt h1{
    font-size: 36px;
    color: #fff;
}
.img2_txt h2{
    font-size: 24px;
    color: #fff;
    margin:24px 0;
}

.img3_txt h1{
    font-size: 36px;
    color: #fff;
}
.img3_txt h2{
    font-size: 24px;
    color: #fff;
    margin:8px 0;
}

.img4_txt h1{
    font-size: 46px;
    color: #fff;
}
.img4_txt h2{
    font-size: 24px;
    color: #fff;
    margin:8px 0;
}

.img5_txt h1{
    font-size: 36px;
    color: #fff;
}
.img5_txt h2{
    font-size: 24px;
    color: #fff;
    margin:8px 0;
}

.img1_txt{
    margin-left: 80px;
    padding-top: 40%;
}

.img2_txt{
    margin-left: 40px;
    padding-top: 30%;
}

.img3_txt{
    margin-left: 40px;
    padding-top: 80%;
}

.img4_txt{
    margin-left: 80px;
    padding-top: 32%;
}

.img5_txt{
    margin-left: 40px;
    padding-top: 60%;
}

.box1,.box2,.box3,.box4,.box5{
    opacity: 0;
}

.box1:hover{
    opacity: 1;
}
.box2:hover{
     opacity: 1;
}
.box3:hover{
     opacity: 1;
}
.box4:hover{
     opacity: 1;
}
.box5:hover{
     opacity: 1;
}

/* footer영역 */
footer{
    width: 100%;
    height: 650px;
    margin-top: 80px;
    background-color: #d9d9d9;
    overflow: hidden;
}

.footer-wrap{
    width: 1680px;
    height: 100%;
    margin: 0 auto;
    padding-top: 120px;
}

.f-t{
    display: flex;
    justify-content: space-between;
}

.f-2,.f-3,.f-4{
    display: flex;
    flex-direction: column;
}

footer h2{
    margin-bottom: 24px;
    font-size: 24px;
}

footer a{
    margin-bottom: 8px;
    color: #171212;
    font-size: 16px;
}

.f-1 p{
    margin-bottom: 24px;
}
.f-b{
    margin-top: 120px;
}
.f-b p{
    font-size: 12px;
}

@media(max-width:1700px){
    .header-wrap{
        width: 1200px;
    }
    .menu-wrap li a{
        font-size: 16px;
        color: #fff;
        margin-right: 50px;
    }

    .logo svg{
        width: 80%;
        height: 80%;
    }

    /* banner영역 */
    #banner{
        width: 100%;
        height: 85vh;
    }

    .slide-txt1{
        margin-top: 25.4vw;
        margin-left: 6.25vw;
    }
    .slide-txt1 h1{
        font-size: 48px;
    }
    .slide-txt1 p{
        font-size: 18px;
    }
    .slide-txt1 span{
        width: 140px;
        height: 50px;
    }
    .slide-txt1 span p{
        font-size: 16px;
        line-height: 50px;
    }

    .slide-txt2{
        margin-top: 20.4vw;
        margin-left: 8.8vw;
    }
    .slide-txt2 h1{
        font-size: 60px;
    }
    .slide-txt2 p{
        font-size: 32px;
    }
    .slide-txt2 span{
        width: 140px;
        height: 50px;
    }
    .slide-txt2 span p{
        font-size: 16px;
        line-height: 50px;
    }

    .slide-txt4{
        margin-top: 20.8vw;
        margin-left: 67.7vw;
        display: flex;
        flex-direction: column;
    }
    .slide-txt4 h1{
        font-size: 45px;
    }
    .slide-txt4 span{
        width: 140px;
        height: 50px;
    }
    .slide-txt4 span p{
        font-size: 16px;
        line-height: 50px;
    }

    /* sec-1 영역 */
    .sec-1{
        height: 800px;
    }
    .sec-1_wrap{
        width: 1200px;
        height: 800px;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    .txt-box{
        width: 100%;
        height: 80px;
        background-color: #595151;
        opacity: 0.7;
        text-align: center;
        line-height: 80px;
    }
    .txt-box p{
        color: #fff;
        font-size: 24px;
        opacity: 1;
    }

    .con1{
        width: calc(100% - 33.33%);
        height: 100%;
    }
    
    .con2{
        width: calc(100% - 33.33%);
        height: 100%;
        margin-left: 20px;
    }
    
    .con3{
        width: calc(100% - 33.33%);
        height: 100%;
        margin-left: 20px;
    }
    
    /* sec-2영역 */
    .sec-2{
        margin-bottom: 0;
    }
    .slide-wrap{
        width: 1200px;
        height: 300px;
        margin: 0 auto;
        position: relative;
        margin-top: 100px;
    }
    .slide-box{
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        /* position: relative; */
    }
    .content{
        display: flex;
        justify-content: space-between;
    }
    .slide-img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto; 
    }
    .sec-2_slide p{
        color: #171212;
        font-size: 24px;
        font-weight: 600;
        margin-top: 24px;
    }

    /* sec-3 영역 */
    .sec-3_txt h1{
        font-size: 36px;
        color: #fff;
        text-align: right;
        letter-spacing: 4px;
    }
    
    .sec-3_txt span{
        width: 140px;
        height: 50px;
        background-color: #fff;
        display: block;
        float: right;
        margin-top: 28px;
    }
    .sec-3_txt span p{
        font-size: 16px;
        color: #171212;
        line-height: 50px;
        text-align: center;
    }
    /* sec-4영역 */
    .sec-4{
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
    }
     .sec-4-constens2{
        height: auto;
    }
    .sec-4-contents1{
        height: auto;
    }
    .sec-4_head h1{
        font-size: 48px;
        margin-bottom: 60px;
        font-family: 'Poppins';
    }
    
    .plus p{
        font-size: 24px;
    }
    .con1-main-img,
    .con2-main-img{
        display: none;
    }
    
    /* sec-5영역 */
    .sec-5-wrap{
        margin: 0 auto;
        width: 1200px;
        height: 1000px;
    }
    
    .sec-5-btn{
        display: block;
        width: 100px;
        height: 40px;
        background-color: #d9d9d9;
        font-size: 12px;
        color: #171212;
        line-height: 40px;
        text-align: center;
    }

    .img1_txt h1{
        font-size: 24px;
        color: #fff;
    }
    .img1_txt h2{
        font-size: 16px;
        color: #fff;
        margin:24px 0;
    }
    
    .img2_txt h1{
        font-size: 24px;
        color: #fff;
    }
    .img2_txt h2{
        font-size: 16px;
        color: #fff;
        margin:24px 0;
    }
    
    .img3_txt h1{
        font-size: 24px;
        color: #fff;
    }
    .img3_txt h2{
        font-size: 16px;
        color: #fff;
        margin:8px 0;
    }
    
    .img4_txt h1{
        font-size: 24px;
        color: #fff;
    }
    .img4_txt h2{
        font-size: 16px;
        color: #fff;
        margin:8px 0;
    }
    
    .img5_txt h1{
        font-size: 24px;
        color: #fff;
    }
    .img5_txt h2{
        font-size: 16px;
        color: #fff;
        margin:8px 0;
    }

    /* footer영역 */
    footer{
        width: 100%;
        height: 650px;
        margin-top: 80px;
        background-color: #d9d9d9;
        overflow: hidden;
    }
    
    .footer-wrap{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        padding-top: 120px;
    }

    footer h2{
        margin-bottom: 24px;
        font-size: 18px;
    }
    
    footer a{
        margin-bottom: 8px;
        color: #171212;
        font-size: 12px;
    }
    
    .f-1 p{
        margin-bottom: 24px;
    }
    .f-b{
        margin-top: 120px;
    }
    .f-b p{
        font-size: 12px;
    }
}

@media(max-width:1200px){
    .header-wrap{
        width: 960px;
    }
    .menu-wrap li a{
        font-size: 14px;
        color: #fff;
        margin-right: 50px;
    }
    .logo svg{
        width: 70%;
        height: 70%;
    }

    #banner{
        width: 100%;
        height: 70vh;
    }
    .slide-txt1 h1{
        font-size: 36px;
    }
    .slide-txt1 p{
        font-size: 16px;
    }

    .slide-txt2 h1{
        font-size: 50px;
    }
    .slide-txt2 p{
        font-size: 28px;
    }
    
    .slide-txt4 h1{
        font-size: 36px;
    }

    /* sec-1영역 */
    .sec-1{
        height: 500px;
    }
    .sec-1_wrap{
        width: 960px;
        height: 100%;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    /* sec-2영역 */
    .sec-2{
        height: 300px;
    }
    .slide-wrap{
        width: 960px;
        height: 250px;
    }
    .slide-box{
        width: 760px;
    }
    .slide-img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto; 
    }

    /* sec-3영역 */
    .sec-3_txt{
        margin-top: 18.4vh;
    }
    .sec-3_txt h1{
        font-size: 28px;
    }
    
    .sec-3_txt span{
        width: 120px;
        height: 40px;
    }
    .sec-3_txt span p{
        font-size: 12px;
        line-height: 40px;
    }
    
    /* sec-4 영역 */
    .sec-4_head h1{
        font-size: 40px;
    }
    .sec-4-contents1{
        margin-right: -20px;
    }
    .plus{
        display: none;
    }  
    .name{
        font-size: 18px;
    }
    .price{
        display: flex;
        margin-top: 4px;
    }
    .price p{
        font-size: 20px;
    }
    .con1-sub-img,
    .con2-sub-img{
        width: calc(50% - 20px);
        margin-right: 20px;
        height: auto;
    }

    /* sec-5 영역 */
    .sec-5-wrap{
        margin: 0 auto;
        width: 960px;
        height: 760px;
    }
    .img1_txt h1{
        font-size: 20px;
    }
    .img1_txt h2{
        font-size: 14px;
    }
    
    .img2_txt h1{
        font-size: 20px;
    }
    .img2_txt h2{
        font-size: 14px;
    }
    
    .img3_txt h1{
        font-size: 20px;
    }
    .img3_txt h2{
        font-size: 14px;
    }
    
    .img4_txt h1{
        font-size: 20px;
        
    }
    .img4_txt h2{
        font-size: 14px;
    }
    
    .img5_txt h1{
        font-size: 20px;
    }
    .img5_txt h2{
        font-size: 14px;
    }
    .img1_txt{
        margin-left: 60px;
        padding-top: 30%;
    }
    
    .img3_txt{
        margin-left: 30px;
        padding-top: 70%;
    }
    
    .img4_txt{
        margin-left: 50px;
        padding-top: 50%;
    }

    /* footer 영역 */
    footer{
        height: 600px;
    }
    .footer-wrap{
        width: 960px;
    }
}

@media(max-width:960px){
    .header-wrap{
        width: 760px;
    }
    .menu{
        display: none;
    }
    .icon{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .btn{
        display: block;
        cursor: pointer;
    }
    .logo{
        margin-right: calc(50% - 80px)
    }

    /* 모바일 서브 메뉴 */
    .m-submenu.active{
        display: block;
    }
    .m-submenu{
        display: none;
        width: 100%;
        height: 100vh;
        position: relative;
        background-color: #171212e0;
        position: fixed;
        z-index: 999;
    }
    .m-menu-wrap{
        position: absolute;
        top: 70%;
        left: 30%;
        transform: translateY(-70%);
        line-height: 10vh;
    }
    .m-menu-wrap a{
        font-size: 70px;
        color: #d9d9d9;
        opacity: 0.5;
        transition: 0.3s;
    }
    .m-menu-wrap :hover a{
        opacity: 1;
    }

    /* banner영역 */
    #banner{
        width: 100%;
        height: 70vh;
    }
    .slide-txt1 h1{
        font-size: 30px;
    }
    .slide-txt1 p{
        font-size: 12px;
    }

    .slide-txt2 h1{
        font-size: 36px;
    }
    .slide-txt2 p{
        font-size: 20px;
    }
    .slide-txt4 h1{
        font-size: 28px;
    }

    /* sec-1 영역 */
    .con3{
        display: none;
    }

    .sec-1_wrap{
        width: 760px;
        height: 100%;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    /* sec-2영역 */
    .sec-2{
        height: 300px;
    }
    .slide-wrap{
        width: 760px;
        height: 200px;
    }
    .slide-box{
        width: 520px;
    }
    .slide-img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto; 
    }
    .sec-2_slide p{
        color: #171212;
        font-size: 18px;
        font-weight: 600;
        margin-top: 24px;
    }

    /* sec-3영역 */
    .sec-3_wrap{
        width: 960px;
        height: 250px;
    }
    .sec-3_txt{
        margin-top: 8.4vh;
    }
    .sec-3_txt h1{
        font-size: 24px;
    }
    
    .sec-3_txt span{
        width: 100px;
        height: 40px;
    }
    .sec-3_txt span p{
        font-size: 11px;
        line-height: 40px;
    }


    /* 사진 문제 해결할것 */
    
    /* sec-4영역 */
    .sec-4_head h1{
        font-size: 36px;
    }
    .plus{
        display: none;
    }  
    .name{
        font-size: 18px;
    }
    .price{
        display: flex;
        margin-top: 4px;
    }
    .price p{
        font-size: 20px;
    }
    /* .con1-sub-img{
        width: 350px;
        height: 600px;
    } */
    
    /* .con2-sub-img{
        width: 350px;
        height: 600px;
    } */
    .sec-5_img1{
        background-position: top;
    }
    /* sec-5영역 */
    .sec-5-wrap{
        margin: 0 auto;
        width: 760px;
        height: 520px;
    }

    .img1_txt h1{
        font-size: 18px;
    }
    .img1_txt h2{
        font-size: 12px;
    }
    
    .img2_txt h1{
        font-size: 16px;
    }
    .img2_txt h2{
        font-size: 11px;
    }
    
    .img3_txt h1{
        font-size: 16px;
    }
    .img3_txt h2{
        font-size: 11px;
    }
    
    .img4_txt h1{
        font-size: 20px;
        
    }
    .img4_txt h2{
        font-size: 14px;
    }
    
    .img5_txt h1{
        font-size: 16px;
    }
    .img5_txt h2{
        font-size: 11px;
    }
    .img1_txt{
        margin-left: 40px;
        padding-top: 20%;
    }
    
    .img3_txt{
        margin-left: 30px;
        padding-top: 30%;
    }
    
    .img4_txt{
        margin-left: 50px;
        padding-top: 30%;
    }

    .img5_txt{
        margin-left: 30px;
        padding-top: 40%;
    }

    /* footer 영역 */
    footer{
        height: 500px;
    }
    .footer-wrap{
        width: 760px;
        padding-top: 100px;
    }

    footer h2{
        margin-bottom: 24px;
        font-size: 18px;
    }
    
    footer a{
        margin-bottom: 8px;
        color: #171212;
        font-size: 12px;
    }
    .f-1 p{
        font-size: 11px;
    }
    .f-5 p{
        font-size: 11px;
    }
    .f-b{
        margin-top: 60px;
    }
}

@media(max-width:760px){
    header{
        width: 760px;
    }
    .header-wrap{
        width: 600px;
    }
    .m-banner{
        width: 100%;
        height: 100vh;
    }
    .m-banner-wrap{
        background: url(../img/m-banner.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center -30px;
        position: relative;
    }
    #banner{
        display: none;
    }
    .m-banner-txt{
        display: block;
        position: absolute;
        top: 50%;
        left: 10%;
    }
    .m-banner-txt h1{
        color: #fff;
        font-size: 120px;
    }
    .m-banner-txt p{
        color: #fff;
        font-size: 50px;
    }
    .m-banner-txt h2{
        color: #fff;
        font-size: 60px;
    }

    .sec-1_wrap{
        width: 600px;
        height: 80%;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    .slide-wrap{
        display: none;
    }
    .sec-2{
        width: 100%;
        height: 800px;
    }
    .sec-2_m{
        display: flex;
        justify-content: center;
    }
    .conbox{
        width: 600px;
        height: 100px;
        margin-bottom: 12px;
        cursor: pointer;
    }
    .conbox h2{
        color: #fff;
        font-size: 32px;
        line-height: 100px;
        margin-left: 20px;
        font-family: 'Poppins';
        font-weight: 500;
        transition: 0.3s;
    }

    .conbox:hover h2{
        color: #6a6a6a;
    }
    .sec-2_m-txt h1{
        font-size: 32px;
        margin-bottom: 8px;
    }
    .m-con1{
        background: url(../img/sec-2-1m.jpg) no-repeat center;
        background-size: cover;
    }
    .m-con2{
        background: url(../img/sec-2-2농구.jpg) no-repeat center;
        background-size: cover;
    }
    .m-con3{
        background: url(../img/sec-2-3축구.jpg) no-repeat center;
        background-size: cover;
    }
    .m-con4{
        background: url(../img/sec-2-2m.jpg) no-repeat center;
        background-size: cover;
    }
    .m-con5{
        background: url(../img/sec-2-5야구.jpg) no-repeat center;
        background-size: cover;
    }
    .m-con6{
        background: url(../img/sec-2-6m.jpg) no-repeat center;
        background-size: cover;
    }

    /* sec-3영역 */
    .sec-3_wrap{
        width: 760px;
        height: 200px;
    }
    .sec-3_wrap{
        margin-bottom: 70px;
    }
    .sec-3_txt{
        margin-top: 5.4vh;
    }
    .sec-3_txt h1{
        font-size: 20px;
    }
    .sec-3_txt span{
        width: 100px;
        height: 40px;
    }
    .sec-3_txt span p{
        font-size: 11px;
        line-height: 40px;
    }

    /* sec-4영역 */

    .sec-4_head h1{
        font-size: 32px;
    }
    .con1-sub-img .sub-img,
    .con2-sub-img .sub-img{
        height: 300px;
    }

    /* .con1-sub-img{
        width: 250px;
    } */
    
    /* .con2-sub-img{
        width: 250px;
    } */

    .name{
        font-size: 16px;
    }
    .price p{
        font-size: 14px;
    }

    /* sec-5 영역 */
    .sec-5-wrap{
        margin: 0 auto;
        width: 600px;
        height: 500px;
    }
    .sec-5-btn{
        width: 80px;
        height: 30px;
        font-size: 11px;
        line-height: 30px;
    }

    /* footer */
    footer{
        height: 500px;
    }
    .footer-wrap{
        width: 600px;
        padding-top: 100px;
    }

    footer h2{
        margin-bottom: 24px;
        font-size: 18px;
    }
    
    footer a{
        margin-bottom: 8px;
        color: #171212;
        font-size: 12px;
    }
    .f-1 p{
        font-size: 8px;
    }
    .f-5 p{
        font-size: 8px;
    }
    .f-b{
        margin-top: 40px;
    }
}

@media(max-width:500px){
    #wrap{
        overflow: hidden;
    }
    header{
        width: 500px;
    }
    .header-wrap{
        width: 500px;
    }
    .btn{
        margin-left: 16px;
    }
    .logo{
        margin-right: calc(50% - 60px)
    }

    .m-banner-txt{
        display: block;
        position: absolute;
        top: 50%;
        left: 10%;
    }
    .m-banner-txt h1{
        color: #fff;
        font-size: 96px;
    }
    .m-banner-txt p{
        color: #fff;
        font-size: 40px;
    }
    .m-banner-txt h2{
        color: #fff;
        font-size: 50px;
    }

    .sec-1_wrap{
        width: 500px;
        height: 80%;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    .txt-box{
        height: 60px;
        line-height: 60px;
    }
    .txt-box1{
        height: 60px;
        line-height: 60px;
    }
    .txt-box1 p{
        font-size: 16px;
    }
    .txt-box p{
        color: #fff;
        font-size: 16px;
        opacity: 1;
    }
    .sec-2{
        height: 650px;
    }
    .conbox{
        width: 400px;
        height: 80px;
        margin-bottom: 12px;
    }

    .conbox h2{
        color: #fff;
        font-size: 28px;
        line-height: 80px;
        margin-left: 20px;
        font-family: 'Poppins';
        font-weight: 500;
    }

    .sec-3_img{
        background: url(../img/sec-3-500m.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sec-3_wrap{
        width: 500px;
        height: 300px;
    }
    .sec-3_txt{
        margin-top: 4.4vh;
    }
    .sec-3_txt h1{
        font-size: 24px;
    }
    
    .sec-3_txt span{
        width: 100px;
        height: 40px;
    }
    .sec-3_txt span p{
        font-size: 11px;
        line-height: 40px;
    }

    /* .sec-4{
        width: 450px;
        height: 900px;
    } */

    /* .con1-sub-img{
        width: 200px;
        height: 265px;
    } */
    
    /* .con2-sub-img{
        width: 200px;
        height: 265px;
    } */
    .sub-img1{
        background: url(../img/sec-4-1\ 500m.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    
    .hover_img1{
        background: url(../img/sec-4-1500\ hover.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
    }

    .sub-img2{
        background: url(../img/sec-4-2\ 500m.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    
    .hover_img2{
        background: url(../img/sec-4-2\ 500\ hover.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
    }

    .sub-img3{
        background: url(../img/sec-4-4500m.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    
    .hover_img3{
        background: url(../img/sec-4-4\ 500\ hover.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
    }

    .sub-img4{
        background: url(../img/sec-4-3\ 500m.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    
    .hover_img4{
        background: url(../img/sec-4-3\ 500\ hover.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
    }
    .con1-sub-img .sub-img
    .con2-sub-img .sub-img{
        height: 230px;
    }

    /* sec-5 영역 */
    .sec-5-wrap{
        margin: 0 auto;
        width: 400px;
        height: 300px;
    }
    .sec-5-btn{
        width: 80px;
        height: 30px;
        font-size: 11px;
        line-height: 30px;
    }

    .img1_txt h1{
        font-size: 16px;
    }
    .img1_txt h2{
        font-size: 8px;
    }
    
    .img2_txt h1{
        font-size: 12px;
    }
    .img2_txt h2{
        font-size: 10px;
    }
    
    .img3_txt h1{
        font-size: 12px;
    }
    .img3_txt h2{
        font-size: 10px;
    }
    
    .img4_txt h1{
        font-size: 12px;  
    }
    .img4_txt h2{
        font-size: 10px;
    }
    
    .img5_txt h1{
        font-size: 12px;
    }
    .img5_txt h2{
        font-size: 10px;
    }

    .img1_txt{
        margin-left: 30px;
        padding-top: 10%;
    }
    .img2_txt{
        margin-left: 10px;
        padding-top: 10%;
    }
    .img3_txt{
        margin-left: 10px;
        padding-top: 20%;
    }
    
    .img4_txt{
        margin-left: 10px;
        padding-top: 15%;
    }

    .img5_txt{
        margin-left: 5px;
        padding-top: 15%;
    }
    .footer-wrap{
        display: none;
    }

    footer{
        height: 500px;
    }
    .m-footer-wrap{
        display: block;
        width: 350px;
        height: 100vh;
        margin: 0 auto;
        margin-top: 30px;
    }

    .m-footer-wrap h5{
        font-size: 16px;
    }

    .m-f-midle{
        display: flex;
        justify-content: space-between;
        font-size: 11px;
        margin-top: 8px;
    }
    
    .f-btn{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #171212;
        cursor: pointer;
    }
    .submenu{
        display: none;
    }
    .submenu li{
        height: 30px;
        border-bottom: 1px solid #6a6a6a;
        display: flex;
        align-items: center;
    }
    .submenu li:last-child{
        border-bottom: 0;
    }
    .submenu li a{
        line-height: 30px;
        display: block;
        box-sizing: border-box;
        margin-bottom: 0;
    }

    .menu-m.on .submenu{
        display: block;
    }

    .m-f-bottom p{
        font-size: 8px;
        margin-top: 30px;
    }
}
@media(max-width:375px){
    .logo svg{
        width: 60%;
        height: 60%;
    }
    header{
        width: 375px;
    }
    .header-wrap{
        width: 375px;
    }
    
    /* m-sec-1 */
    .sec-1{
        height: 300px;
    }
    .sec-1_wrap{
        width: 343px;
        height: 80%;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    .con-img1{
        background: url(../img/m-sec1-1.jpg) no-repeat center;
        background-size: cover;
        width: 200px;
        height: 230px;
    }

    .con-img2{
        background: url(../img/m-sec1-2.jpg) no-repeat center;
        background-size: cover;
        width: 140px;
        height: 230px;
    }

    .txt-box{
        width: 200px;
        height: 23px;
    }
    .txt-box1{
        height: 23px;
        width: 140px;
    }
    .txt-box p,
    .txt-box1 p{
        line-height: 23px;
        font-size: 8px;
    }
    .con2{
        margin-left: 4px;
        height: 300px;
    }
    .con1{
        height: 300px;
    }

    .sec-2_m-content{
        width: 343px;
    }
    .conbox{
        width: 343px;
    }

    /* m-sec3 */
    .sec-3_txt{
        display: none;
    }
    .sec-3_wrap{
        width: 375px;
        height: 270px;
    }
    .sec-3_img{
        background-size: contain;
    }
    .m_sec-3-txt{
        display: block;
        font-size: 24px;
    }
    .m_sec-3_btn{
        display: flex;
        justify-content: space-between;
    }
    .m_sec-3_btn h2{
        font-size: 18px;
    }
    .m_sec-3_btn span{
        width: 100px;
        height: 40px;
        background-color: #171212;
        border-radius: 10px;
    }
    .m_sec-3_btn a{
        display: block;
        font-size: 11px;
        color: #fff;
        line-height: 40px;
        text-align: center;
    }

    /* m-sec-4 */
    .sec-4-constens2{
        margin-top: 40px;
    }
    .sec-4_head h1{
        font-size: 20px;
        margin-bottom: 8px;
        padding-top: 40px;
    }
    /* .con1-sub-img{
        width: 160px;
        height: 220px;
    } */
    /* .con2-sub-img{
        width: 160px;
        height: 220px;
    } */
    .name{
        font-size: 14px;
    }
    .con1-sub-img, .con2-sub-img{
        margin-right: 0;
    }
    .con1-sub-img .sub-img,
    .con2-sub-img .sub-img{
        height: 212px;
    }
    .sub-img1{
        background: url(../img/sec-4-1\ 375m.jpg) no-repeat center;
    }
    .hover_img1{
        background: url(../img/sec-4-1\ 375m\ hover.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
    }
    .sub-img2{
        background: url(../img/sec-4-2\ 375m.jpg) no-repeat center;
    }
    
    .hover_img2{
        background: url(../img/sec-4-2\ 375m\ hover.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
    }

    .sub-img3{
        background: url(../img/sec-4-4\ 375m.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    
    .hover_img3{
        background: url(../img/sec-4-4\ 375m\ hover.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
    }

    .sub-img4{
        background: url(../img/sec-4-3\ 375m.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    
    .hover_img4{
        background: url(../img/sec-4-3\ 375m\ hover.jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s;
    }

    /* sec-5 영역 */
    .sec-5-wrap{
        width: 100%;
    }
    .sec-5 h2{
        display: none;
    }
    .sec-5-btn{
        width: 70px;
        height: 30px;
        font-size: 11px;
        line-height: 30px;
        margin-top: 25px;
    }
    .img1_txt{
        margin-left: 15px;
    }
    footer{
        margin-top: 0;
    }
}

